*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: noto sans;
}

.itemListContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.header{
    font-size: 70px;
}

.itemCount{
    margin: '50px'; 
    padding: '50px';
}